.universe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 120px;
}

.universe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-inline: 60px;
}

.universe-header {
  text-align: center;

  > .title-sm {
    color: var(--muted-text-color);
  }
}

.universe-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-inline: 40px;
}

.universe-button__primary {
  background: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: 40px;
  font-weight: 700;
  transition: 1s ease;

  &:hover {
    background: var(--dark-background-color);
  }
}

.universe-button__secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
  padding-inline: 40px;
  font-weight: 700;
  transition: 1s ease;

  &:hover {
    background: var(--dark-background-color);
    color: var(--light-text-color);
  }
}

.universe-image {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .universe {
    display: grid;
    max-width: 1380px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image header"
      "image content";
    column-gap: 110px;
    padding-top: unset;
    padding-inline: 40px;
  }

  .universe-header {
    grid-area: header;
    align-items: start;
    text-align: start;
    padding: unset;
    align-self: flex-end;
    width: 450px;
  }

  .universe-header > .title-3xl {
    font-size: 40px;
    line-height: 50px;
  }

  .universe-wrapper {
    grid-area: content;
    flex-direction: row;
    padding: unset;
    align-self: flex-start;
  }

  .universe-image {
    grid-area: image;
    width: 100%;
    align-self: flex-start;
  }

  .universe-button__primary {
    background: var(--success-color);
    &:hover {
      background: var(--secondary-color-2);
    }
  }

  .universe-button__secondary {
    border: 1px solid var(--success-color);
    color: var(--success-color);
    text-transform: uppercase;

    &:hover {
      background: var(--secondary-color-2);
      color: var(--light-text-color);
    }
  }
}
